---
layout: layouts/page.njk
---

<div class="page-wrapper">
    <div class="content-list-container">
        <div class="content-list">
            {{content | safe}}
        </div>
    </div>
</div>